
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-image: url('stars-night.gif'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    background-position: center center; 
    color: white; 

}

header {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

#site-icon {
    position: absolute;
    top: 10px; 
    left: 10px; 
    width: 80px; 
    height: auto; 
    z-index: 999; 
}

#my-name {
    position: absolute;
    top: 30px; 
    left: 100px; 
    font-size: 1.5rem; 
    color: white; 
    font-family: 'Open Sans', sans-serif;
}


@keyframes animated-outline {
    0% {
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 0px;
        outline-width: 0px;
    }
    50% {
        outline-color: rgba(255, 255, 255, 0.5);
        outline-offset: 5px;
        outline-width: 5px;
    }
    100% {
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 0px;
        outline-width: 0px;
    }
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

#contact a {
    color: white; 
    text-decoration: none; 
    border-bottom: 1px solid white; 
    padding-bottom: 2px; 
}

.project-item {
    margin: 2rem;
    display: inline-block;
    text-align: left;
}

.project-item img {
    max-width: 100%;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    position: relative; 
    outline: 1px solid transparent; 
    animation: animated-outline 2s infinite ease-in-out; 
}

.resume-button:hover {
    animation: animated-outline 2s infinite ease-in-out;
}

input[type="text"],
input[type="email"],
textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

#social-media {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.social-links {
    list-style: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin: 0 10px;
}

.social-links a {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.social-links a i {
    transition: color 0.3s ease;
}

.social-links a:hover i {
    color: #55acee; 
}

.social-links li:nth-child(4) a {
    color: #0A66C2; /* LinkedIn color */
}

.social-links li:nth-child(5) a {
    color: #333; /* GitHub color */
}
